@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-10">
        <h2>Top 10 Agencies</h2>
        @await Html.PartialAsync("_AgenciesTablePartial", Model.Agencies)
    </div>
</div>
